 <div>
  <h1>
   <%= @wiki.title %> <br>
   <small>
    submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
   </small>
  </h1>
 </div>
 
 <div class="row">
  <div class="col-md-8">
   <p><%= render_markdown(@wiki.body) %></p>
  </div>

  <% if current_user.present? %>
   <div class="col-md-4">
    <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
    <% if current_user.admin? %>
     <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
    <% end %>
   </div>
  <% end %>
 </div>
 
  <div>
   <h3>Collaborators</h3>
  
 
<%= form_for [@wiki, @collaborator] do |f| %>
  <ul>
   
   <ul>
   <% n = User.all.length %>
  <% (1..n).each do |i| %>
  <% user = User.all[i-1] %>
  <% email = user.email %>
  <% label = "collaborator_#{i}" %>
  <% value = i %>

  <li>
	    <input type="checkbox" id="<%= label %>" name="<%= label %>" value="<%= value %>">
    <label for="subscribeNews"><%= email %></label>
	</li>
     <% end %>
</ul>
 <input id="wiki" name="wiki" type="hidden" value="<%= @wiki.id %>" />
<div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
 </div>